footer {
  font-family: 'Poppins';
  background-color: rgb(44, 42, 42);
  color: #fff;
  padding: 80px 60px;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  margin: 0;
  position: relative;

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    > ul:first-child, 
    > ul:nth-child(2) {
      grid-column: span 1;
    }

    > div {
      grid-column: 1 / -1; /* Span full width */
      margin-top: 30px;
      margin-bottom: 40px;
    }

    span.heading {
      display: block;
      color: var(--clr-orange);
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 15px 0;
        color: #ddd;
        line-height: 1.5;

        a {
          display: inline-block;
          color: inherit;
          text-decoration: none;
        }
      }
    }

    form {
      display: flex;
      width: 100%;

      .formControl {
        flex-grow: 1;
        input {
          width: 100%;
          border: none;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          padding: 20px;
          box-sizing: border-box;
          font-size: 1rem;
        }
      }

      button {
        background-color: var(--clr-orange);
        border: none;
        padding: 15px 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        svg {
          fill: white;
        }
      }
    }
  }

  .logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    margin-top: 40px;

    h1 {
      font-size: 4rem;
      margin: 0;
      line-height: 1.2;

      span {
        color: var(--clr-orange);
      }
    }
  }
}

/* Tablet and Desktop Styles */
@media (min-width: 768px) {
  footer {
    padding: 60px 60px;

    .links {
      display: flex;
      justify-content: space-between;
      gap: 50px;

      > div, > ul {
        flex: 1;
      }

      form {
        max-width: 350px;
      }
    }

    .logo {
      bottom: 40px;
      right: 40px;
    }
  }
}

/* Large Desktop Styles */
@media (min-width: 1200px) {
  footer {
    padding: 80px 100px;

    .links {
      gap: 70px;
    }

    .logo {
      bottom: 60px;
      right: 60px;
    }
  }
}
